:root {
    --sibasiBlue: rgb(46, 117, 182);
    --sibasiLightBlue: rgb(157, 195, 230);
    --sibasiWhite: rgb(255, 255, 255);
    --sibasiDanger: #bf1b2c;
    --sibasiHover: #f3f7f8;
    --sibasiGrey: #d9d9d9;
    --text-color: #44486d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}